.navbar{

    position:sticky;

    top:0;

    z-index:1000;

    background:#fff;

    box-shadow:var(--shadow-sm);

}

.navbar-wrapper{

    display:flex;

    align-items:center;

    justify-content:space-between;

    height:80px;

}

.logo{

    font-size:28px;

    font-weight:800;

    color:var(--primary);

}

.nav-menu{

    display:flex;

    gap:30px;

}

.nav-menu a{

    font-weight:600;

    transition:.3s;

}

.nav-menu a:hover,

.nav-menu a.active{

    color:var(--primary);

}

@media(max-width:991px){

.nav-menu{

display:none;

}

}
