.admin-wrapper {

    display:flex;
    min-height:100vh;

}



.admin-sidebar {

    width:260px;
    padding:30px;

}



.admin-sidebar h2 {

    margin-bottom:40px;

}



.admin-sidebar nav {

    display:flex;
    flex-direction:column;
    gap:15px;

}



.admin-sidebar a {

    text-decoration:none;
    padding:12px 18px;
    border-radius:12px;

}



.admin-content {

    flex:1;
    padding:40px;

}



.dashboard-grid {

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:40px;

}



.dashboard-card {

    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.08);

}



.dashboard-card span {

    font-size:35px;
    font-weight:700;

}



@media(max-width:900px){


.admin-wrapper{

    flex-direction:column;

}


.admin-sidebar{

    width:auto;

}


.dashboard-grid{

    grid-template-columns:1fr;

}


}
