.auth-layout{

    min-height:100vh;

    background:var(--gray-100);

    display:flex;

    align-items:center;

    justify-content:center;

}



.auth-container{

    width:100%;

    max-width:450px;

    padding:20px;

}



.auth-card{

    background:var(--white);

    padding:30px;

    border-radius:var(--radius-lg);

    box-shadow:var(--shadow-md);

}
